In [ ]:
'''
Adding, Renaming, and Removing Columns

    - add a new column as a function of existing columns
    - rename a column
    - hide a column (temporarily)
    - delete a column (permanently)

Advanced Filtering (of rows) and Selecting (of columns)

    - loc: filter rows by LABEL, and select columns by LABEL
    - iloc: filter rows by POSITION, and select columns by POSITION
    - mixing: select columns by LABEL, then filter rows by POSITION

'''

In [1]:
import pandas as pd
import numpy as np

In [3]:
# reset the DataFrame
drinks = pd.read_csv('./data/drinks.csv', na_filter=False)

In [4]:
# add a new column as a function of existing columns
# note: can't (usually) assign to an attribute (e.g., 'drinks.total_servings')
drinks['total_servings'] = drinks.beer_servings + drinks.spirit_servings + drinks.wine_servings
drinks['alcohol_mL'] = drinks.total_litres_of_pure_alcohol * 1000
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings,alcohol_mL
0,Afghanistan,0,0,0,0.0,AS,0,0.0
1,Albania,89,132,54,4.9,EU,275,4900.0
2,Algeria,25,0,14,0.7,AF,39,700.0
3,Andorra,245,138,312,12.4,EU,695,12400.0
4,Angola,217,57,45,5.9,AF,319,5900.0

In [ ]:
# alternative method: default is column sums, 'axis=1' does row sums instead
drinks['total_servings'] = drinks.loc[:, 'beer_servings':'wine_servings'].sum(axis=1)

In [5]:
# rename a column
drinks.rename(columns={'total_litres_of_pure_alcohol':'alcohol_litres'}, inplace=False)

,country,beer_servings,spirit_servings,wine_servings,alcohol_litres,continent,total_servings,alcohol_mL
0,Afghanistan,0,0,0,0.0,AS,0,0.0
1,Albania,89,132,54,4.9,EU,275,4900.0
2,Algeria,25,0,14,0.7,AF,39,700.0
3,Andorra,245,138,312,12.4,EU,695,12400.0
4,Angola,217,57,45,5.9,AF,319,5900.0
5,Antigua & Barbuda,102,128,45,4.9,NA,275,4900.0
6,Argentina,193,25,221,8.3,SA,439,8300.0
7,Armenia,21,179,11,3.8,EU,211,3800.0
8,Australia,261,72,212,10.4,OC,545,10400.0
9,Austria,279,75,191,9.7,EU,545,9700.0
10,Azerbaijan,21,46,5,1.3,EU,72,1300.0
11,Bahamas,122,176,51,6.3,NA,349,6300.0
12,Bahrain,42,63,7,2.0,AS,112,2000.0
13,Bangladesh,0,0,0,0.0,AS,0,0.0
14,Barbados,143,173,36,6.3,NA,352,6300.0
15,Belarus,142,373,42,14.4,EU,557,14400.0
16,Belgium,295,84,212,10.5,EU,591,10500.0
17,Belize,263,114,8,6.8,NA,385,6800.0
18,Benin,34,4,13,1.1,AF,51,1100.0
19,Bhutan,23,0,0,0.4,AS,23,400.0
20,Bolivia,167,41,8,3.8,SA,216,3800.0
21,Bosnia-Herzegovina,76,173,8,4.6,EU,257,4600.0
22,Botswana,173,35,35,5.4,AF,243,5400.0
23,Brazil,245,145,16,7.2,SA,406,7200.0
24,Brunei,31,2,1,0.6,AS,34,600.0
25,Bulgaria,231,252,94,10.3,EU,577,10300.0
26,Burkina Faso,25,7,7,4.3,AF,39,4300.0
27,Burundi,88,0,0,6.3,AF,88,6300.0
28,Cote d'Ivoire,37,1,7,4.0,AF,45,4000.0
29,Cabo Verde,144,56,16,4.0,AF,216,4000.0
...,...,...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA,313,5600.0
164,Swaziland,90,2,2,4.7,AF,94,4700.0
165,Sweden,152,60,186,7.2,EU,398,7200.0
166,Switzerland,185,100,280,10.2,EU,565,10200.0
167,Syria,5,35,16,1.0,AS,56,1000.0
168,Tajikistan,2,15,0,0.3,AS,17,300.0
169,Thailand,99,258,1,6.4,AS,358,6400.0
170,Macedonia,106,27,86,3.9,EU,219,3900.0
171,Timor-Leste,1,1,4,0.1,AS,6,100.0
172,Togo,36,2,19,1.3,AF,57,1300.0
173,Tonga,36,21,5,1.1,OC,62,1100.0
174,Trinidad & Tobago,197,156,7,6.4,NA,360,6400.0
175,Tunisia,51,3,20,1.3,AF,74,1300.0
176,Turkey,51,22,7,1.4,AS,80,1400.0
177,Turkmenistan,19,71,32,2.2,AS,122,2200.0
178,Tuvalu,6,41,9,1.0,OC,56,1000.0
179,Uganda,45,9,0,8.3,AF,54,8300.0
180,Ukraine,206,237,45,8.9,EU,488,8900.0
181,United Arab Emirates,16,135,5,2.8,AS,156,2800.0
182,United Kingdom,219,126,195,10.4,EU,540,10400.0
183,Tanzania,36,6,1,5.7,AF,43,5700.0
184,USA,249,158,84,8.7,NA,491,8700.0
185,Uruguay,115,35,220,6.6,SA,370,6600.0
186,Uzbekistan,25,101,8,2.4,AS,134,2400.0
187,Vanuatu,21,18,11,0.9,OC,50,900.0
188,Venezuela,333,100,3,7.7,SA,436,7700.0
189,Vietnam,111,2,1,2.0,AS,114,2000.0
190,Yemen,6,0,0,0.1,AS,6,100.0
191,Zambia,32,19,4,2.5,AF,55,2500.0
192,Zimbabwe,64,18,4,4.7,AF,86,4700.0

In [6]:
# hide a column (temporarily)
drinks.drop(['alcohol_mL'], axis=1)     # use 'axis=0' to drop rows instead
drinks[drinks.columns[:-1]]             # slice 'columns' attribute like a list

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
0,Afghanistan,0,0,0,0.0,AS,0
1,Albania,89,132,54,4.9,EU,275
2,Algeria,25,0,14,0.7,AF,39
3,Andorra,245,138,312,12.4,EU,695
4,Angola,217,57,45,5.9,AF,319
5,Antigua & Barbuda,102,128,45,4.9,NA,275
6,Argentina,193,25,221,8.3,SA,439
7,Armenia,21,179,11,3.8,EU,211
8,Australia,261,72,212,10.4,OC,545
9,Austria,279,75,191,9.7,EU,545
10,Azerbaijan,21,46,5,1.3,EU,72
11,Bahamas,122,176,51,6.3,NA,349
12,Bahrain,42,63,7,2.0,AS,112
13,Bangladesh,0,0,0,0.0,AS,0
14,Barbados,143,173,36,6.3,NA,352
15,Belarus,142,373,42,14.4,EU,557
16,Belgium,295,84,212,10.5,EU,591
17,Belize,263,114,8,6.8,NA,385
18,Benin,34,4,13,1.1,AF,51
19,Bhutan,23,0,0,0.4,AS,23
20,Bolivia,167,41,8,3.8,SA,216
21,Bosnia-Herzegovina,76,173,8,4.6,EU,257
22,Botswana,173,35,35,5.4,AF,243
23,Brazil,245,145,16,7.2,SA,406
24,Brunei,31,2,1,0.6,AS,34
25,Bulgaria,231,252,94,10.3,EU,577
26,Burkina Faso,25,7,7,4.3,AF,39
27,Burundi,88,0,0,6.3,AF,88
28,Cote d'Ivoire,37,1,7,4.0,AF,45
29,Cabo Verde,144,56,16,4.0,AF,216
...,...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA,313
164,Swaziland,90,2,2,4.7,AF,94
165,Sweden,152,60,186,7.2,EU,398
166,Switzerland,185,100,280,10.2,EU,565
167,Syria,5,35,16,1.0,AS,56
168,Tajikistan,2,15,0,0.3,AS,17
169,Thailand,99,258,1,6.4,AS,358
170,Macedonia,106,27,86,3.9,EU,219
171,Timor-Leste,1,1,4,0.1,AS,6
172,Togo,36,2,19,1.3,AF,57
173,Tonga,36,21,5,1.1,OC,62
174,Trinidad & Tobago,197,156,7,6.4,NA,360
175,Tunisia,51,3,20,1.3,AF,74
176,Turkey,51,22,7,1.4,AS,80
177,Turkmenistan,19,71,32,2.2,AS,122
178,Tuvalu,6,41,9,1.0,OC,56
179,Uganda,45,9,0,8.3,AF,54
180,Ukraine,206,237,45,8.9,EU,488
181,United Arab Emirates,16,135,5,2.8,AS,156
182,United Kingdom,219,126,195,10.4,EU,540
183,Tanzania,36,6,1,5.7,AF,43
184,USA,249,158,84,8.7,NA,491
185,Uruguay,115,35,220,6.6,SA,370
186,Uzbekistan,25,101,8,2.4,AS,134
187,Vanuatu,21,18,11,0.9,OC,50
188,Venezuela,333,100,3,7.7,SA,436
189,Vietnam,111,2,1,2.0,AS,114
190,Yemen,6,0,0,0.1,AS,6
191,Zambia,32,19,4,2.5,AF,55
192,Zimbabwe,64,18,4,4.7,AF,86

In [7]:
# delete a column (permanently)
del drinks['alcohol_mL']

## Advanced Filtering (of rows) and Selecting (of columns)

In [10]:
# read 'u.user' into 'users'
u_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('./data/u.user', header = None, sep='|', names = u_cols,
                      index_col='user_id', dtype={'zip_code':str})

In [11]:
users.head(3)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067

In [ ]:
# loc: filter rows by LABEL, and select columns by LABEL
users.loc[1]                        # row with label 1
users.loc[1:3]                      # rows with labels 1 through 3
users.loc[1:3, 'age':'occupation']  # rows 1-3, columns 'age' through 'occupation'
users.loc[:, 'age':'occupation']    # all rows, columns 'age' through 'occupation'
users.loc[[1,3], ['age','gender']]  # rows 1 and 3, columns 'age' and 'gender'

In [15]:
users.loc[[1,3], ['age','gender']]

         age gender
user_id
1         24      M
3         23      M

In [ ]:
# iloc: filter rows by POSITION, and select columns by POSITION
users.iloc[0]                       # row with 0th position (first row)
users.iloc[0:3]                     # rows with positions 0 through 2 (not 3)
users.iloc[0:3, 0:3]                # rows and columns with positions 0 through 2
users.iloc[:, 0:3]                  # all rows, columns with positions 0 through 2
users.iloc[[0,2], [0,1]]            # 1st and 3rd row, 1st and 2nd column

In [17]:
users.iloc[0:3]

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067

In [ ]:
# mixing: select columns by LABEL, then filter rows by POSITION
users.age[0:3]
users[['age', 'gender', 'occupation']][0:3]